.navbar {
  background-color: #2375BB
}


 .nav-link {
  color: rgba(255,255,255,255)!important;

}
.navbar-text{

  color: rgba(255,255,255,255)!important;
}
li a:hover {
  background-color:#005394
}
